[submodule "HW/HW_1/dvwa-csrf-lab/dvwa-source"]
	path = HW/HW_1/dvwa-csrf-lab/dvwa-source
	url = https://github.com/digininja/DVWA
[submodule "HW/HW_1/DVWA"]
	path = HW/HW_1/DVWA
	url = https://github.com/digininja/DVWA.git
[submodule "HW/HW_1/dvwa-source"]
	path = HW/HW_1/dvwa-source
	url = https://github.com/digininja/DVWA.git
